
page-denuncia {
    
  color: white;
  input-wrapper{
    overflow: hidden;
  }
  ion-item {
    border-color: transparent;
  }

  .fontawesome {
    font-family: 'Fontawesome';
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: white;
  }

  .toolbar-background {
    background: transparent;
    border: none;
  }

  .header::after {
    background: none;
  }

  .scroll-content {
    margin-top: 0px;
    text-align: center;

  }

  .content {
    background: url(../assets/img/fondo/fondociudad.jpg);
    background-size: cover;
  }

  .titulo {
    color: white;
  }

  .denuncia {
    display: block;
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 4.5em;
    border-radius: 0.1em;
    border: 0.1em solid rgba(0, 0, 0, 0.596);
    background-color: white;

    .imagen {
      width: 100%;
      img {
        max-width: 90px;
        position: relative;
        top: -3.1em;
        border-radius: 100%;
        background-color: white;
      }
    }

    .cuadro {
      display: block;
      width: 100%;
      background-color: white;

      .campos {
        border: 1px solid rgba(255, 255, 255, 0.685);
        border-radius: 10px;
        //                    margin-top: 1rem;

        .item-inner {
          border-color: white;
        }

        display: block;
        width: 100%;
        .casos{
            margin: auto;
            margin-right: 0em;
            width: 97.5%;
            margin-top: 0.2em;
            select{
                padding: 0.62em;
                color: white;
                background: rgba(128, 128, 128, 0.726);
                border-radius: 1.3em;
            }

        }
        .fecha,
        .hora,
        .lugar,
        .descripcion {
          width: 85%;
          margin: auto;
          max-height: 26px;
          margin-top: 1em;
          border-radius: 1.3em;
          padding: 0.15em;
          border-color: transparent;
          background-color: rgba(128, 128, 128, 0.726);
          color: white;
          i{
            color: white;
            margin-left: 0.8em;
          }
        }
        .descripcion{
          margin-top: 0.4em;
        }
        .boton {
          background-color: transparent;
          border: 1px solid black;
          border-radius: 0.8em;
          margin-bottom: 2em;
          box-shadow: none;
          width: 50%;
          text-align: center;
          color: black;
        }
      }
    }
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    box-shadow: none;
  }
  .text-input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.712);
  }

  .text-input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.712);
  }

  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: rgba(255, 255, 255, 0.712);
  } 
}
