page-denuncia {
    color: white;

    .fontawesome {
        font-family: 'Fontawesome';
        font-size: 2rem;
        display: flex;
        align-items: center;
        color: white;
    }

    .toolbar-background {
        background: transparent;
        border: none;
    }

    .header::after {
        background: none;
    }

    .scroll-content {
        margin-top: 0px;
        text-align: center;

    }

    .content {
        background: url(../assets/img/fondo/fondociudad.jpg);
        background-size: cover;
    }
    .titulo{
        color: white;
    }
    .denuncia{
        display: block;
        width: 90%;
        height: 70%;
        margin: auto;
        margin-top: 4.5em;
        border-radius: 0.1em;
        border: 0.1em solid rgba(0, 0, 0, 0.596);
        background-color: white;
        .imagen{
            width: 100%;
            height: 20%;
            img{
                transform: scale(0.8);
                margin-top: -4em;
                border-radius: 100%;
                background-color: white;
            }
        }
        .cuadro{
            display: block;
            width: 100%;
            background-color: white;
            margin-bottom: 2em;
            .campos{
                display: block;
                width: 100%;
                .fecha, .hora, .lugar ,.casos ,.descripcion, .boton{
                    width: 85%;
                    max-height: 60px;
                    margin: 1em;
                    border-radius: 2em;
                    padding: 0.5em;
                    padding-left: 1em;
                    border: 0.1em solid rgba(0, 0, 0, 0.349);
                    background-color: rgba(128, 128, 128, 0.726);
                    color: white;
                }
                .boton{
                    background-color: rgba(255, 255, 255, 0);
                    margin-bottom: 2em;
                    width: 50%;
                    padding-left: 0%;
                    color: black;
                }
            }
        }
    }
}
