// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
*{
  box-sizing: border-box;
}
p,
h1,
h2,
span,
h3,
h4 {
  font-family: "Oswald";
}
$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;

.fontawesome {
  font-family: 'Fontawesome';
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
}

.menu-inner{
  background:  #0e63a4cf !important
}

.menu-inner .scroll-content {
  background: transparent !important;
  overflow: hidden !important;
}
.menu-inner .list-md .item-block .item-inner{
  border-color: transparent !important; 
}

.menu-inner .item  {
  background: transparent !important;
  color: black !important;
}

.menu-inner .toolbar-background {
  background: transparent !important;
}

.menu-inner .toolbar-title-md {
  color: black !important;
}