* {
    /*Estas configuraciones son por defecto para todos los elementos*/
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: 300;
}

body {
    background-color: white;
}

.contenedor {
    // Contenedor padre de todo que siempre mantendrá máximo 1200 px 
    max-width: 1200px;
    margin: auto;
    font-family: "Oswald";
}

.loader {
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-color: #00bfff;
    overflow: hidden;
    z-index: 200;
    color: white;

}

@import "loader";
/*HEADER ZONE*/

header {

    .barra {
        align-items: center;
        transition: all 0.5s ease;
        padding: 0.4em;
        color: white;
        margin-top: -0.5em;
        width: 100%;
        font-size: 1.73em;
        font-family: 'Roboto';
        background: transparent;

        display: none;


        .derecho {
            width: 50%;
            text-align: right;
            font-family: 'Awesome';

        }

        .izquierdo {
            width: 50%;
            text-align: left;

            .oscuro {
                display: none;
            }

            .claro {
                display: block;
            }

            .oscuro,
            .claro {
                img {

                    max-width: 50px;
                }
            }
        }
    }

    .barraFixed {
        top: 0;
        transition-duration: 1s;
        display: flex;
        background: white;
        width: 100%;
        color: black;
        position: fixed;
        z-index: 100;
        padding: 0.6em;
        font-size: 1.2em;
        font-family: 'Roboto';
        overflow-x: auto;

        .derecho {
            width: 50%;
            text-align: right;
            font-family: 'Awesome';

            i {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
            }
        }

        .izquierdo {
            width: 50%;
            text-align: left;

            img {
                max-width: 50px;
            }

            .claro {
                display: none;
            }

            .oscuro {
                display: block;
            }
        }
    }


    nav {
        width: 100%;

        display: none;
        flex-wrap: wrap;
        justify-content: flex-end;

        li {
            padding: 1%;
            font-family: "Roboto";
            list-style-type: none;

            a {
                font-family: 'Sans';
                font-size: 1.6em;
                color: white;
                font-weight: 400;
                text-decoration: none;
            }
        }
    }
}

header {
    font-family: "Oswald";
}

header.encabezado {
    display: flex;
    background-color: white;
    width: 100%;
    z-index: 10;

    .logo {
        width: 11%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: white;
        align-content: center;

        padding: 1em;

        img {
            width: 100%;
            max-width: 50px;
            max-height: 50px;

        }
    }

    .texto {
        width: 89%;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            li {
                display: flex;
                align-items: center;
                margin: 1%;
                list-style-type: none;
                height: 60%;
                padding: 0.5em;
                font-weight: 300;
            }
        }

    }
}



section.imagen_grande {
    background: url(../assets/imgs/ladron.png);
    padding-top: 1em;

    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 7em;

    .contenedor {
        margin-top: 8em;
        width: 100%;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;

        .informacion {
            width: 50%;

            p {
                font-size: 2em;
                color: white;
                line-height: 1.5em;

                span.a1 {
                    background: white;
                    color: black;
                    padding: 0.5%;


                }

                span.a2 {
                    font-size: 0.7em;
                }
            }
        }

        .botones {
            width: 50%;
            text-align: right;


            button {
                margin: 1%;
                background: transparent;
                color: white;
                padding: 1.8%;
                font-size: 1.1em;
                margin-top: 5em;
                border-radius: 10px;
                border: 1.3px solid white;
                transition: .4s linear;
                font-family: "Oswald";

                i {
                    overflow: visible;
                    margin-left: 0.3em;
                }

                &:hover {
                    cursor: pointer;
                    background: white;
                    color: black;
                }
            }
        }
    }
}

section.basta {
    background: #00BFFF;

    .contenedor {

        display: flex;
        flex-wrap: wrap;

        .imagen_ladron {
            text-align: center;
            width: 50%;
            margin: auto;
            min-width: 20em;

            img {
                width: 100%;
                max-width: 500px;
            }
        }

        .texto_basta {
            padding: 2.5%;

            margin: auto;
            padding-bottom: 4em;
            display: flex;
            align-content: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            width: 100%;
            max-width: 600px;

            h2 {
                text-align: center;
            }

            p {
                margin-top: 1em;
                font-size: 1.2em;
                text-align: center;
            }
        }
    }
}

section#contri {
    background: white;

    .contenedor {
        width: 100%;
        max-width: 1200px;
        margin: auto;

        h2 {
            font-size: 2.8em;
            font-weight: 300;
            margin: 1.5em;
        }

        .personas {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            margin-bottom: 3em;
        }

        .persona {
            width: 25%;
            margin-top: 1em;
            margin-bottom: 1em;

            .img {
                width: 100%;

                img {
                    border-radius: 50em;
                    width: 100%;
                    max-width: 183.95px;
                    max-height: 181.92px;
                }

                h4 {
                    margin: 1em;
                }
            }
        }
    }
}

.curva {
    margin-top: -1.3em;

    img {
        width: 100%;
    }
}

section.como_funciona {
    background-color: #FAFAFA;
    margin-top: -0.3em;

    .contenedor {
        display: flex;
        padding-top: 4em;
        flex-direction: column;
        margin: auto;
        width: 100%;
        padding-bottom: 4em;

        h1 {
            font-size: 2em;
            text-align: center;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        .comida {
            padding: 1em;
            width: 48%;
            align-self: flex-start;
            background-color: rgb(255, 255, 255);
            display: flex;
            border-radius: 20px;

            .izq {
                width: 30%;
                margin-left: 10%;

                img {
                    width: 100%;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 81px;
                }
            }

            .der {

                text-align: center;
                margin-right: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
            }

            p {
                margin: 3%;
                margin-left: 2em;
                font-size: 100%;
            }
        }

        .blockchain {
            margin-left: 1em;
        }

        .nuestro {
            padding: 1em;
            width: 48%;
            margin-right: 1em;
            align-self: flex-end;
        }

        .mundo {
            margin-left: 1em;
            padding: 1em;
            width: 48%;
            align-self: flex-start;
        }

        .el_centro {
            padding: 1em;
            margin-right: 1em;
            width: 48%;
            align-self: flex-end;
        }
    }

    .tecnologia {
        margin-left: 1em;
        padding: 1em;
        width: 48%;
        align-self: flex-start;
    }
}

.boton_rep {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid rgb(0, 102, 255);
}

.clbm {
    text-decoration: none;
    color: black;
}

.hdmenu {
    position: fixed;
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.2);
}

.curva2 {
    background-color: #4C919F;

    img {
        width: 100%;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        margin-top: -0.1em;
    }
}

.footer {

    margin: 0;

    img {
        width: 100%;
        margin-bottom: -0.5em;
        height: 100%;
        height: 200px;

    }
}

section.denuncia {
    color: white;
    margin-top: -0.3em;
    background-color: #4C919F;
    overflow: visible;

    .contenedor {
        width: 100%;
        color: white;
        padding: 0;

        .titulo {
            width: 100%;
            text-align: center;
            background-color: #4C919F;
            font-size: 1.2em;
            padding-top: 4em;
        }

        .padre {
            display: flex;


            .texto_denuncia {
                width: 100%;
                max-width: 600px;
                display: flex;
                flex-direction: column;
                align-self: center;
                background-color: #4C919F;
                text-align: center;
                margin-top: -1.5em;

                h1 {
                    font-size: 1.7em;
                }

                p {
                    font-size: 1.2em;
                    margin-top: 1em;
                    text-align: justify;
                    padding: 5%;
                }
            }

            .imagen_ladron2 {
                width: 100%;
                max-width: 600px;

                img {
                    width: 100%;
                }
            }
        }
    }

    .curva3 {
        position: relative;

        overflow: auto !important;
        top: 1em;

        img {
            width: 100%;
            transform: rotate(180deg);
        }
    }
}

section.contacto {
    width: 100%;
    background: #fafafa;
    position: relative;
    top: -1em;
    padding-bottom: 2em;
    overflow: visible !important;

    .imagen {
        position: relative;
        top: -3em;
        text-align: center;

        img {
            max-width: 100px;
            max-height: 100px;
            margin: auto;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 4px solid rgba(0, 0, 0, 0.103);
        }
    }

    .titulo {
        padding: 2em 0em 0em;
        font-size: 1.25em;
        width: 100%;
        font-family: "Oswald";
        text-align: center;
    }

    form {
        overflow: visible;
        margin: 5em auto 2em auto;
        text-align: center;
        background: #ffffff;
        border-radius: 0.8em;
        border: 1px solid rgba(0, 0, 0, 0.301);
        font-family: "Oswald";

        max-width: 550px;
        display: flex;
        flex-direction: column;

        padding-bottom: 1.3em;

        input,
        textarea {
            align-self: center;
            width: 90%;
            font-size: 1em;
            max-width: 450px;
            margin-top: 1em;
            color: black;
            padding: 0.5em;
            border-radius: 5px;
            font-family: "Oswald";
            border-color: transparent;
            border-bottom: 1px solid rgba(0, 0, 0, 0.164);
        }

    }

    button {
        width: 80%;
        max-width: 200px;
        margin: auto;
        background-color: #1869e5;
        border: 1px solid black;
        border-color: #1869e5;
        padding: 0.7% 1em 0.7% 1em;
        color: white;
        font-family: 'Oswald';
        font-size: 0.9em;
        margin-top: 2.2em;
        border-radius: 20px;
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear;

        &:hover {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.178);
            -webkit-transform: translateY(-4px);
            transform: translateY(-2px);
            cursor: pointer;
        }
    }
}

footer {

    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 1%;
    margin-top: 1eM;
    color: white;
    padding: 1em;
    margin-top: 3em;

    hr {
        opacity: 0.5;
        margin-top: 1em;
    }

    p {
        margin-top: 1em;
    }

    .primera {
        display: flex;
    }

    .contenedor {

        font-family: "Open Sans" !important;
        font-weight: 300;

        .img {
            text-align: center;

            img {
                width: 100%;
                max-width: 80px;
            }

            p {
                margin-top: 0.2em;
                padding-bottom: 1.3em;

            }
        }

        .menu {
            margin-left: 1em;

            ul {
                li:not(:first-child) {}

                li {
                    margin-bottom: 0.5em;

                    strong {
                        font-weight: 700;
                    }

                    list-style-type: none;
                }
            }
        }
    }


}

@media screen and (max-width: 987px) {
    header.encabezado {
        display: none;
    }

    header {
        max-height: 100%;
    }

    section.imagen_grande .contenedor {
        margin-top: 2.5em;

    }

    section.imagen_grande {
        header.responsive {
            .barra {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 1056px) {
    section.contacto {
        top: 0;
    }
}

@media screen and (max-width: 718px) {
    section.imagen_grande {
        .contenedor {

            .informacion,
            .botones {
                width: 100%;
                text-align: center;
            }

        }
    }
}


@media screen and (max-width: 955px) {
    section.como_funciona {
        .contenedor {
            .comida {
                width: 90%;
                margin: 10px;
                align-self: center;
            }
        }

    }
}

@media screen and (max-width: 472px) {
    section.como_funciona {
        .contenedor {

            .comida {
                flex-direction: column;

                .izq {
                    width: 100%;
                    text-align: center;
                    margin-left: 0;

                    img {

                        position: static;
                    }
                }

                .izq,
                .der {
                    text-align: center;
                    margin-right: 0;

                    img {
                        width: 100%;
                        transform: initial;
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1199px) {
    section.denuncia {
        .contenedor {

            .padre {
                justify-content: center;
                flex-wrap: wrap;

                .texto_denuncia {
                    margin-top: 2.5em;
                }

            }
        }
    }
}

@media screen and (max-width: 970px) {

    section#contri {
        .contenedor {
            h2 {
                margin: 0.23em;
            }

            .personas {
                flex-wrap: wrap;
                width: 100%;

                .persona {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}