page-tutorial {
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-image: url('../assets/img/gradiente/gradiente.svg');
    background-size: cover;
  }

  .slide-title {
    color: white;
    //margin-top: 2.8rem;
    margin-top: -0.9rem;
    font-size: 3.8rem;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
    
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 2.2rem;
    line-height: 1.5;
    color: white;
    b {
      color: #000000;
    }
  }

  p.titulo{
    font-size: 3.8rem;
    margin-top: -2.1rem;
  }
  .button{
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: none !important;
    margin-top: 0.5em;
    font-size: 2rem;
    width: 35%;
    color: white;
    &:hover{
      background: white !important;
      color: black;
    }
  }
  .registrado{
    font-size: 3.2rem;
  }
}
