<%= form_with(model: watson, local: true) do |form| %>
  <% if watson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watson.errors.count, "error") %> prohibited this watson from being saved:</h2>

      <ul>
      <% watson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
